<!doctype html>
<html lang="en">
	<head>
		<base href="/" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		<link rel="stylesheet" href="/static/css/styles.css" />
		<title>About PSO</title>
	</head>
	<body class="font-sans leading-normal tracking-normal" id="background">
		{% include 'partials/_header.html' %}
		<div class="container mx-auto px-4 mt-8 min-h-screen">
			<h1 class="text-3xl font-bold mb-4">About Particle Swarm Optimization App</h1>
			<p>
				This application allows users to simulate Particle Swarm Optimization (PSO) with
				customizable parameters.
			</p>
			<p>
				PSO is a computational method used for optimizing a problem by iteratively trying to
				improve a candidate solution with regard to a given measure of quality.
			</p>
		</div>
		<footer class="bg-gray-800 text-white text-center py-4 mt-5">
			<p>&copy; 2024 Particle Swarm Optimization App</p>
		</footer>
		<script src="/static/js/script.js" type="module"></script>
	</body>
</html>
